 
 *
 {
     box-sizing: border-box;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   margin: 0;
   padding: 0 ;
 }


 .home
 {
     height: 630px;
     background-image: url(../images/shutterstock_277750193.jpg);
     background-size: 100% 100%;
 }


.home .nav ul 
{
    list-style: none;
    background-color:rgba(1, 0, 0 , .7); 
    overflow: hidden;
  

}
.home .nav ul li
{
   
    float: right;
    padding: 15px;
    padding-top: 20px;
    transition: all .5s ease ;
    
}

.home .nav ul li a
{
    text-decoration: none;
    color: #EEE;
    display: block;
    font-size: 18px;
}

.nav img
{
    height: 50px; 
}
 h4 
{
    float: left;
    font-size: 20px;
    padding-left: 20px;
}


.home .caption 
{
    text-align: center;
    color: #FFF;
    padding: 20px;
    padding-top: 40px;
  
    
}

.home .caption p 
{
    font-size: 25px;
    padding: 10px;
}


.home .btns
{
    padding: 20px;
    padding-top: 50px;
    text-align: center;
    color: #FFF;
}

button
{
    width: 120px;
    height: 50px;
    
}

button:first-of-type
{
    background-color: #752;
}

button:last-of-type
{
    background-color: #EEE;
}



/*
-------------------------------------   Meals  ------------------------------
*/ 
.meales
{
   
    margin-top: 20px ;
    padding: 10px;
    margin-left: 20px;
}

.meales .meal
{

    margin: 10px;
    float: left;
    text-align: center;
    width: 23%;
   padding: 10px;
   padding-top: 20px;
}
.meales .meal img
{
    border-radius: 50%;
}

.meales .meal h3
{
   
    padding: 5px;
}
.meales .meal p
{
    padding: 5px;
    padding-top: 20px ;

}

.meales .meal .b
{
    width: 50%;
    border-bottom: 2px solid #111;
    text-align: center;
    margin: auto;
   padding: 10px ; 
   
}





.clear
{
    clear: both;
}


/*  --------------    slider -----------------------*/

.slider
{
    width: 70%; 
    height: 500px; 
    margin: 50px auto; 
    background-size: 100% 100% ;
    animation-name: ss ;
    animation-duration: 10s ; 
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

 @keyframes ss 
{
    0% {background-image:url((../images/bg2.jpg)  }
    30% {background-image: url(../images/bg3.jpg)  }
    80% {background-image: url(../images/bg4.jpg)  }
    100% {background-image: url(../images/bg.jpg)  }
}


/*  ---------------   style of descover section -----------*/ 

.discover 
{
    overflow: hidden;
}

.discover .content 
{
    width: 60%;
    float: right;
    text-align: center; 
    margin: 30px auto ;
    padding-top: 20%;
    padding-bottom: 30px ;
}
.discover .content  h3
{
   
    font-family: 'Dancing Script', cursive;
    color: #f2ce08;
    font-size: 28px;
}
.discover .content  h2
{
    padding: 5px; 
   font-weight: bold;
}
.discover .content  p
{
    padding: 10px ; 
    margin:  10px auto;
    font-size: 18px;
    color: #868686;
}


.discover .img 
{
    width: 40% ;
    float: left;
}

.discover .img img 
{
    width: 90% ; 
    background-size: 100% 100% ;
}




.out 
{
    height: 350px; 
    background-image: url(../images/bgs.jpg);
    background-size: cover; 
    background-attachment: fixed;
}